<div class="panel panel-primary" (click)="handleClick()">
    <div class="panel-heading">{{employee.id}} - {{employee.name}}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2 text-center">
                <div class="media">
                    <div class="media-left">
                        <img bind-src="employee.photoPath" class="media-object" style="width:120px">
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div>
                    Name : {{employee.name}}
                </div>
                <div>
                    Gender : {{employee.gender}}
                </div>
                <div>
                    Date Of Birth : {{employee.DateOfBirth | date}}
                </div>
                <div>
                    Contact Preference : {{employee.contactPref}}
                </div>
                <div>
                    Email : {{employee.email}}
                </div>
                <div>
                    Department : {{employee.department}}
                </div>
                <div>
                    Status : {{employee.isActive}}
                </div>
            </div>
        </div>
    </div>
</div>